@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    border-style: none; 

}

body{
    background-color: #15151e;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #272e3d;
    border-radius: 0.9em;
    max-width: 25%; 
    font-family: 'Overpass', sans-serif;     
    padding: 1.4em;
}

h1{
    
    color: white;
}

p{
  color: #838c95; 
  font-weight: 700;  
  font-size: 15px;  
}

.buttons-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.rating{
    
    background-color: #3b4141;
    color: #838c95; 
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.submit{
    width: 100%;
    border-radius: 30px;
    padding: 12px ;
    color: white;
    background-color: #fc7613;
}

