@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    background-color: #15151e;
    width: 1366px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272e3d;
    border-radius: 1.5em;
    width: 380px;
    height: 380px;
    font-family: 'Overpass', sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 50px;
}

.sombra-icon {
    width: 35px;
    height: 35px;
    background: #3b4141;
    border-radius: 50px;
}

.sombra-icon img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    max-width: 35%;
    max-height: 35%;
}



.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.title-text {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin: 30px 0px 20px 30px;
}

p {
    color: #838c95;
    font-weight: 700;
    font-size: 14px;
    margin: 0% 15% 0% 8%;
}

.buttons-rating {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.rating {
    background-color: #3b4141;
    color: #838c95;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
}

.rating:hover{
    background-color: #838c95;
    color: #ffff;
}

.rating:focus{
    color: white;
    background-color: #fc7613;
}

.submit{
    width: 85%;
}

.button {
    width: 100%;
    border-radius: 30px;
    padding: 12px;
    color: white;
    background-color: #fc7613;
    font-size: 12px;
    cursor: pointer;
}

.button:hover{
    color:#fc7613;
    background-color:white ;
}