@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    background-color: #15151e;
    width: 1366px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #272e3d;
    border-radius: 1.5em;
    width: 380px;
    height: 380px;
    font-family: 'Overpass', sans-serif;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 40px 0px 20px 0px;
}

p {
    color: #838c95;
    font-weight: 700;
    font-size: 14px;
    margin: 0% 8% 0% 8%;
    text-align: center;
}

.image-thanks{
    margin: 40px 0px 20px 0px;
    
}



.selection-rank{
    background-color: #363c47;
    border-radius: 30px;
    padding: 5px;
    width: 45%;
    
}

.selection-rank p{
    color:  #fc7613;
    text-align: center;
    justify-content: center;   
    font-size: 14px ;
}


